/*
 * Copyright (C) 2023-2025 Dipl.-Inform. Kai Hofmann. All rights reserved!
 */
package de.powerstat.ddd.values;


import de.powerstat.ddd.interfaces.IValueObject;


/**
 * {CLASSNAME}.
 *
 * Maybe DSGVO relevant.
 */
public enum {CLASSNAME} implements IValueObject
 {
  /**
   * Enum 1.
   */
  NAME1(0),

  /**
   * Enum 2.
   */
  NAME2(1);


  /**
   * Action number.
   */
  private final int action;


  /**
   * Ordinal constructor.
   *
   * @param action Action number
   */
  {CLASSNAME}(final int action)
   {
    this.action = action;
   }


  /**
   * {CLASSNAME} factory.
   *
   * @param value {CLASSNAME} enum string
   * @return {CLASSNAME} enum
   */
  public static {CLASSNAME} of(final String value)
   {
    return {CLASSNAME}.valueOf(value);
   }


  /**
   * Get action number.
   *
   * @return Action number
   */
  public int getAction()
   {
    return this.action;
   }


  /**
   * Returns the value of this {CLASSNAME} as a string.
   *
   * @return The text value represented by this enum after conversion to type string.
   */
  @Override
  public String stringValue()
   {
    return this.name();
   }

 }
