/*
 * Copyright (C) 2020-2025 Dipl.-Inform. Kai Hofmann. All rights reserved!
 */
package de.powerstat.ddd.values.test;


import static org.junit.jupiter.api.Assertions.assertAll;
import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertFalse;
import static org.junit.jupiter.api.Assertions.assertNotEquals;
import static org.junit.jupiter.api.Assertions.assertThrows;
import static org.junit.jupiter.api.Assertions.assertTrue;

import org.junit.jupiter.api.Test;
import org.junit.jupiter.params.ParameterizedTest;
import org.junit.jupiter.params.provider.ValueSource;

import de.powerstat.ddd.values.{CLASSNAME};
import edu.umd.cs.findbugs.annotations.SuppressFBWarnings;


/**
 * {CLASSNAME} tests.
 */
@SuppressFBWarnings({"EC_NULL_ARG", "RV_NEGATING_RESULT_OF_COMPARETO", "RV_RETURN_VALUE_IGNORED_NO_SIDE_EFFECT", "SPP_USE_ZERO_WITH_COMPARATOR", "PRMC_POSSIBLY_REDUNDANT_METHOD_CALLS"})
final class {CLASSNAME}Tests
 {
  /**
   * Default constructor.
   */
  /* default */ {CLASSNAME}Tests()
   {
    super();
   }


  /**
   * Is {FIELDNAME}.
   *
   * @param {FIELDNAME} {CLASSNAME}
   */
  @ParameterizedTest
  @ValueSource(longs = {0, 1, 2020})
  /* default */ void is{CLASSNAME}(final long {FIELDNAME})
   {
    assertEquals({FIELDNAME}, {CLASSNAME}.of({FIELDNAME}).{FIELDNAME}(), "Not a {FIELDNAME}!"); //$NON-NLS-1$
   }


  /**
   * Is not a {FIELDNAME}.
   *
   * @param {FIELDNAME} {CLASSNAME}
   */
  @ParameterizedTest
  @ValueSource(longs = {-1})
  /* default */ void testIsNotA{CLASSNAME}(final long {FIELDNAME})
   {
    assertThrows(IndexOutOfBoundsException.class, () ->
     {
      /* final {CLASSNAME} {FIELDNAME} = */ {CLASSNAME}.of({FIELDNAME});
     }, "Index out of bounds exception expected"
    );
   }


  /**
   * Test compareTo.
   */
  @Test
  @SuppressWarnings("java:S5785")
  /* default */ void testCompareTo()
   {
    final {CLASSNAME} {FIELDNAME}1 = {CLASSNAME}.of(1);
    final {CLASSNAME} {FIELDNAME}2 = {CLASSNAME}.of(1);
    final {CLASSNAME} {FIELDNAME}3 = {CLASSNAME}.of(2);
    final {CLASSNAME} {FIELDNAME}4 = {CLASSNAME}.of(3);
    final {CLASSNAME} {FIELDNAME}5 = {CLASSNAME}.of(1);
    assertAll("testCompareTo", //$NON-NLS-1$
      () -> assertTrue({FIELDNAME}1.compareTo({FIELDNAME}2) == -{FIELDNAME}2.compareTo({FIELDNAME}1), "reflexive1"), //$NON-NLS-1$
      () -> assertTrue({FIELDNAME}1.compareTo({FIELDNAME}3) == -{FIELDNAME}3.compareTo({FIELDNAME}1), "reflexive2"), //$NON-NLS-1$
      () -> assertTrue(({FIELDNAME}4.compareTo({FIELDNAME}3) > 0) && ({FIELDNAME}3.compareTo({FIELDNAME}1) > 0) && ({FIELDNAME}4.compareTo({FIELDNAME}1) > 0), "transitive1"), //$NON-NLS-1$
      () -> assertTrue(({FIELDNAME}1.compareTo({FIELDNAME}2) == 0) && (Math.abs({FIELDNAME}1.compareTo({FIELDNAME}5)) == Math.abs({FIELDNAME}2.compareTo({FIELDNAME}5))), "sgn1"), //$NON-NLS-1$
      () -> assertTrue(({FIELDNAME}1.compareTo({FIELDNAME}2) == 0) && {FIELDNAME}1.equals({FIELDNAME}2), "equals") //$NON-NLS-1$
    );
   }

 }
