/*
 * Copyright (C) 2020-2025 Dipl.-Inform. Kai Hofmann. All rights reserved!
 */
package de.powerstat.ddd.values;


import java.util.Objects;
import java.util.regex.Pattern;

import org.jmolecules.ddd.annotation.ValueObject;

import de.powerstat.ddd.interfaces.IValueObject;


/**
 * {CLASSNAME}.
 *
 * @param {FIELDNAME} {CLASSNAME}
 *
 * Maybe DSGVO relevant.
 */
@ValueObject
public record {CLASSNAME}(String {FIELDNAME}) implements Comparable<{CLASSNAME}>, IValueObject
 {
  /**
   * {CLASSNAME} regexp.
   */
  @SuppressWarnings("java:S5867")
  private static final Pattern {CLASSNAME}_REGEXP = Pattern.compile("^[\\p{L}][\\p{L}\\p{Digit} -]*$"); //$NON-NLS-1$


  /**
   * Constructor.
   *
   * @param {FIELDNAME} {CLASSNAME}
   * @throws NullPointerException if {FIELDNAME} is null
   * @throws IllegalArgumentException if {FIELDNAME} is not a correct {CLASSNAME}
   */
  public {CLASSNAME}
   {
    Objects.requireNonNull({FIELDNAME}, "{FIELDNAME}"); //$NON-NLS-1$
    if (({FIELDNAME}.length() < 1) || ({FIELDNAME}.length() > 85))
     {
      throw new IllegalArgumentException("{CLASSNAME} with wrong length"); //$NON-NLS-1$
     }
    if (!{CLASSNAME}_REGEXP.matcher({FIELDNAME}).matches())
     {
      throw new IllegalArgumentException("{CLASSNAME} with wrong format"); //$NON-NLS-1$
     }
   }


  /**
   * {CLASSNAME} factory.
   *
   * @param {FIELDNAME} {CLASSNAME}
   * @return {CLASSNAME} object
   */
  public static {CLASSNAME} of(final String {FIELDNAME})
   {
    return new {CLASSNAME}({FIELDNAME});
   }


  /**
   * Returns the value of this {CLASSNAME} as a string.
   *
   * @return The numeric value represented by this object after conversion to type string.
   */
  @Override
  public String stringValue()
   {
    return this.{FIELDNAME};
   }


  /**
   * Compare with another object.
   *
   * @param obj Object to compare with
   * @return 0: equal; 1: greater; -1: smaller
   * @see java.lang.Comparable#compareTo(java.lang.Object)
   */
  @Override
  public int compareTo(final {CLASSNAME} obj)
   {
    Objects.requireNonNull(obj, "obj"); //$NON-NLS-1$
    return {FIELDNAME}.compareTo(obj.{FIELDNAME});
   }

 }
 